.cart-height {
	min-height: 69vh;
}
.sec-btn {
	background-color: var(--COLOR-SECONDARY);
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.cart {
	display: flex;
	margin-left: 5rem;
	gap: 10rem;
	justify-content: center;
	align-items: center;
}

.cart-comp {
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: var(--BACKGROUND-BODY-COLOR);
	border: 1px solid var(--COLOR-BLACK);
	width: 75rem;
	height: 30rem;
}

.cart-comp img {
	margin: -20rem 5rem -20rem -25rem;
}

.product-category {
	text-align: center;
	font-weight: 700;
	margin: 2rem;
}

.cart-des {
	display: flex;
	flex-direction: column;
	width: 30rem;
	height: 27rem;
	gap: 1rem;
	margin: 0 18rem 0 0;
	padding: 10px;
}

.prd-title {
	font-size: 2.5rem;
	font-weight: 800;
	font-family: "Poppins";
}

.prd-dec {
	font-size: 1rem;
}

.btn {
	cursor: pointer;
	padding: 1rem;
	font-size: 1.5rem;
}

.btn-prm {
	background: var(--BACKGROUND-BODY-COLOR-DARK);
	border: none;
	color: var(--TEXT-COLOR-PRIMARY);
}

.btn-prm:hover {
	background: var(--ALERT-ERROR-COLOR);
	color: var(--COLOR-BLACK);
}

.btn-secc {
	background: var(--BACKGROUND-BODY-COLOR-DARK);
	border: none;
	color: var(--COLOR-WHITE);
}

.btn-secc:hover {
	background: var(--secondary-txt);
	color: var(--COLOR-BLACK);
}

.cart-qty-con {
	display: grid;
	width: 20rem;
	grid-template-columns: 40% 45% 15%;
	align-items: center;
}

.trash-btn {
	font-size: 1.5rem;
	padding: 8px;
	cursor: pointer;
	border: none;
	background: none;
	color: var(--ALERT-ERROR-COLOR);
	transition: 0.2s;
}

.trash-btn:hover {
	background: var(--ALERT-ERROR-COLOR);
	color: var(--COLOR-WHITE);
}

.checkout-container {
	display: grid;
	height: fit-content;
	position: sticky;
	top: 1rem;
}

.checkout {
	border: 1px solid var(--COLOR-BLACK);
	height: fit-content;
	grid-row: 2/3;
	padding: 4rem;
	background-color: var(--BACKGROUND-BODY-COLOR);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.checkout-title {
	font-weight: 700;
	font-size: 2rem;
}

.checkout-des {
	display: flex;
	flex-direction: row;
	font-size: 1.5rem;
}

.checkout-des-price {
	margin-left: auto;
	font-size: 1.5rem;
}

.checkout-btn {
	align-self: center;
	font-size: 1.3rem;
	text-align: center;
	width: max-content;
	padding: 1.5rem;
	cursor: pointer;
	background: var(--BACKGROUND-BODY-COLOR-DARK);
	color: var(--COLOR-WHITE);
	border: none;
}

.checkout-btn:hover {
	background: var(--COLOR-SECONDARY);
	color: var(--COLOR-BLACK);
}

.container-box {
	display: flex;
	flex-direction: row;
}
.number {
	display: grid;
	width: 7rem;
	grid-template-columns: 20% 60% 20%;
}
span {
	cursor: pointer;
}

.minus,
.plus {
	border-radius: 2px;
	padding: 2px 0 0 9px;
	width: 3rem;
	height: 3rem;
	border: 1px solid #ddd;
}

.number input {
	width: 3.5rem;
	text-align: center;
	border: 1px solid #ddd;
	font-size: medium;
	border-radius: 4px;
	margin-left: 10px;
}
.cart-grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
