.wishlist-container {
	display: grid;
	box-shadow: 0 0 15px var(--COLOR-WHITE);
	background-color: var(--BACKGROUND-BODY-COLOR-DARK);
}
.wishlist-grid {
	display: grid;
	padding-left: 2rem;
	grid-template-columns: repeat(auto-fill, 24rem);
}
.wishlist-empty {
	display: grid;
	height: 80vh;
	align-items: center;
	justify-self: center;
	align-self: center;
	font-size: 4rem;
	font-family: "Poppins";
}
.wishlist-header {
	padding: 2rem;
	display: grid;
	justify-content: center;
	align-items: center;
}
