.position-fixed {
	width: 20rem;
	box-shadow: 0px 2px 1rem 2px var(--BOX-SHADOW);
	padding: 1rem;
}
.sidebar-flex {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	flex: 0 0 auto;
}
.sidebar-header {
	display: flex;
	column-gap: 2rem;
	justify-content: space-between;
}
.filter {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin: 10px 2rem 0 0;
}
.margin {
	margin: 10px 2rem 0 0;
	cursor: pointer;
}
.full-width {
	width: 100%;
	height: fit-content;
}
.slider {
	display: flex;
	flex-direction: row;
}
.slider-lt {
	margin-right: auto;
}
.component-display-container {
	padding: 1.5rem;
	border-radius: 0%;
	border: 0;
	max-width: none;
	margin-top: 0;
	box-shadow: 5px 5px 1.5rem 2px var(--BOX-SHADOW);
}
.badge {
	border-radius: 50%;
	background-color: var(--NOTIFICATION-COLOR);
	color: var(--COLOR-BLACK);
	position: absolute;
	padding-bottom: 10px;
	padding-top: 0%;
}
.card-container:hover {
	transform: scale(1.05) rotate(2deg);
}
.card-shadow:hover {
	transform: scale(1.02);
}
.input {
	padding: 0 1rem;
	border-radius: 2px 0 0 2px;
	border: 0;
	outline: 0 none;
	font-size: 1.5rem;
	height: 4.25rem;
	width: 100%;
}
.search-bar {
	display: flex;
	position: static;
	flex-flow: row nowrap;
}
.overlay-text {
	position: absolute;
	width: 100%;
	top: 15rem;
	left: 0;
	background-color: var(--COLOR-SOCIAL-ICON);
	color: var(--COLOR-BLACK);
	padding: 1rem 1rem 1rem 1rem;
	border-radius: 4px;
	text-align: center;
}
.card-change {
	margin: auto;
	display: inline;
	outline: 0;
	border-radius: 5px;
}
.rt {
	top: 120%;
	right: 0;
	color: var(--off-green);
	vertical-align: middle;
}
.lt {
	top: 120%;
	left: 0;
	color: var(--off-green);
	vertical-align: middle;
}
.card-change:hover {
	transform: scale(1.5);
}
.button {
	color: var(--COLOR-BLACK);
	width: 16rem;
}
.vertical-cards {
	border-collapse: separate;
	border-spacing: 0 15px;
}
.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin: 10px auto;
	background-color: var(--secondary-text);
	color: var(--secondary-text);
}
.footer-logo {
	height: 8rem;
	width: 8rem;
}
.footer-nav {
	display: flex;
	font-size: large;
	gap: 2rem;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.link {
	color: var(--COLOR-WHITE);
}
.flex-items {
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 1.5rem;
}
.parent-positioning img {
	height: 20rem;
	width: auto;
}
.card-margin {
	margin: 8px 0 0 8px;
	object-fit: contain;
}
