.product-card {
	display: grid;
	grid-template-rows: 60% 25% 15%;
	background-color: var(--BACKGROUND-BODY-COLOR);
	margin: 5px;
	width: 20rem;
	height: 37rem;
	border: 2px solid var(--COLOR-PRIMARY);
	border-radius: 2rem;
	position: relative;
}

.product-card:hover {
	transform: scale(1.02);
	z-index: 1;
}

button.product-btn {
	display: grid;
	align-items: center;
	align-self: end;
	width: 100%;
	height: 5rem;
	border-radius: 0 0 1.8rem 1.8rem;
	border: 1px solid var(--COLOR-PRIMARY);
}

button.product-btn:hover {
	cursor: pointer;
	background-color: var(--COLOR-SECONDARY);
}
.productCard-desc {
	display: grid;
	padding: 0 3rem;
}

.card-img-container {
	width: 100%;
	height: 100%;
}
.card-img-container > img {
	width: 100%;
	height: 95%;
	border-radius: 1.8rem 1.8rem 0 0;
}
