.login-form {
	display: grid;
	grid-template-rows: 25% 75%;
	background-color: var(--BACKGROUND-BODY-COLOR);
	height: 40rem;
	width: 40rem;
	border-radius: 2rem;
}
.input-form {
	background-color: var(--BACKGROUND-BODY-COLOR);
}
.input-email {
	display: grid;
	grid-template-rows: auto;
}
.input-password {
	display: grid;
	grid-template-rows: auto;
}
.btn-container {
	display: flex;
	width: 100%;
	justify-content: center;
}
.btn-sec {
	display: grid;
	grid-template-columns: 20% 60% 20%;
}
.secondary-txt {
	grid-column: 2/3;
	text-align: center;
	color: beige;
}
