.login-form {
	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-columns: 1fr;
	background-color: var(--BACKGROUND-BODY-COLOR-DARK);
	height: 88vh;
	width: 100%;
	justify-content: center;
}
.login-header {
	padding-top: 8rem;
	display: grid;
	justify-content: center;
	align-items: center;
}
.login-header > h1 {
	display: grid;
	justify-self: center;
}
.input-form {
	padding: 6rem 0;
	width: 100%;
	height: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	display: grid;
	align-self: center;
	justify-self: center;
	background-color: var(--BACKGROUND-BODY-COLOR-DARK);
}
.form-fields {
	display: grid;
	align-self: center;
}
.form-fields > input {
	height: 4rem;
	padding-left: 2rem;
	font-size: medium;
	box-shadow: 0 0 2px var(--COLOR-WHITE);
	border: none;
}
.input-buttons {
	display: grid;
	align-items: center;
	width: 100%;
}
.button {
	margin: 0;
}
.btn-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	justify-content: center;
	align-items: center;
}
.btn-container .button {
	width: inherit;
}
.button-login {
	display: grid;
	justify-self: center;
	align-content: center;
	width: inherit;
	border-radius: 2px;
	color: var(--COLOR-WHITE);
	background-color: var(--COLOR-PRIMARY);
}
.button-login:hover {
	cursor: pointer;
	background-color: var(--COLOR-SECONDARY);
	color: var(--COLOR-BLACK);
	box-shadow: 0 0 2px var(--COLOR-WHITE);
}
.button-guest {
	display: grid;
	justify-self: center;
	align-content: center;
	width: inherit;
	border-radius: 2px;
	color: var(--COLOR-WHITE);
	background-color: var(--BACKGROUND-BODY-COLOR);
}
.button-guest:hover {
	cursor: pointer;
	background-color: var(--COLOR-SECONDARY);
	color: var(--COLOR-BLACK);
	box-shadow: 0 0 2px var(--COLOR-WHITE);
}
.btn-sec {
	display: grid;
	justify-content: start;
	width: 100%;
	text-decoration: underline dotted var(--COLOR-WHITE);
}
.secondary-txt {
	padding: 5px;
	font-family: "Poppins";
	font-size: x-large;
	font-weight: 500;
	color: var(--COLOR-WHITE);
}
.btn-sec:hover {
	text-decoration: underline var(--COLOR-WHITE);
}
