.user-details {
	display: grid;
	align-items: center;
	border-radius: 2rem;
	position: absolute;
	top: 20rem;
	right: 45rem;
	width: 40rem;
	height: 30rem;
	margin: 1rem;
	padding: 2rem;
	background-color: var(--BACKGROUND-BODY-COLOR);
}
.edit-btn {
	border-radius: 2rem;
	background-color: var(--COLOR-PRIMARY);
	padding: 1rem;
	font-size: large;
}
.user-firstname {
	grid-row: 1/2;
}
.user-label {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}
.user-label > h2 {
	color: var(--COLOR-SECONDARY);
}
.editing-labels {
	display: grid;
	gap: 2rem;
}
.editing-labels > div > input {
	height: 4rem;
	width: 50%;
	padding: 1rem;
	font-family: "Poppins";
	font-size: larger;
}
.editing-labels > button {
	display: grid;
	height: 3rem;
	background-color: var(--COLOR-SECONDARY);
	border-radius: 2rem;
	border: none;
	justify-content: center;
	align-items: center;
}
