.products-container {
	width: 100%;
	background-color: var(--BACKGROUND-BODY-COLOR-DARK);
	padding: 2rem;
}
.grid-items {
	display: grid;
	grid-template-columns: repeat(auto-fill, 25rem);
	column-gap: 0;
}

.sidebar-flex {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	flex: 0 0 auto;
}
.sidebar-header {
	display: flex;
	column-gap: 2rem;
	justify-content: space-between;
}
.filter {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin: 10px 2rem 0 0;
}
.margin {
	margin: 10px 2rem 0 0;
}
p.margin {
	margin: 12px 10px 0 0;
	cursor: pointer;
}
p.margin:hover {
	color: #01ccff;
}
.full-width {
	width: 100%;
	height: fit-content;
}
.slider {
	display: flex;
	flex-direction: row;
}
.slider-lt {
	margin-right: auto;
}
