.profile-container {
	min-height: 100vh;
}
.profile-top {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 2rem;
}
.profile-left {
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 40% 10%;
	align-items: baseline;
	font-weight: 600;
	font-size: 3rem;
}

.signout-icon {
	display: grid;
	cursor: pointer;
}
.signout-icon:hover {
	color: var(--ALERT-ERROR-COLOR);
}
.profile-right {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border: 1px solid var(--COLOR-WHITE);
}
.profile-options {
	cursor: pointer;
	border: 1px solid var(--COLOR-WHITE);
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	font-size: 2rem;
}
.profile-content {
	display: grid;
	border-radius: 2rem;
	margin: 1rem;
	border: 1px solid var(--COLOR-WHITE);
	background-color: var(--BACKGROUND-BODY-COLOR);
}
