.footer {
	grid-area: footer;
	display: grid;
	grid-template-columns: 3fr 5fr 2fr;
	height: 20rem;
	font-family: "Poppins";
}

.logo-img {
	height: 8rem;
	width: 8rem;
}

.footer-logo {
	width: 100%;
	margin: 2rem 0 0 0;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr);
}
.logo-container {
	grid-column: 2/3;
	display: grid;
}
.logo-heading {
	grid-row: 2/3;
	grid-column: 1/4;
	padding: 2rem 4rem;
	text-decoration: none;
	color: var(--COLOR-WHITE);
}
.footer-nav {
	display: grid;
	grid-template-rows: 1fr 2fr;
	margin: 1rem 0 0 0;
}
.explore-heading {
	padding-left: 20rem;
}
.explore {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	font-size: large;
}

.explore > li {
	list-style: none;
	text-decoration: none;
	color: var(--COLOR-WHITE);
	padding-left: 3rem;
	display: grid;
}
.explore > li > a {
	list-style: none;
	text-decoration: none;
	color: var(--COLOR-WHITE);
}

.explore > li > a:hover {
	list-style: none;
	cursor: pointer;
	color: var(--COLOR-PRIMARY);
}
.footer-connect {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}
.footer-connect > h1 {
	display: grid;
	padding: 1rem 0 0 5rem;
}
.footer-connect .connect {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1rem;
}
