@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("./screens/cart/cart.css");
@import url("./screens/products/products.css");
@import url("./screens/signup/signup.css");
@import url("./screens/wishlist/wishlist.css");
@import url("./components/header/header.css");
:root {
	--COLOR-PRIMARY: #01ccff;
	--COLOR-SECONDARY: #27e4b5;
	--COLOR-SOCIAL-ICON: #308ea5;
	--PRIMARY-HOVER: #7a9ea7;
	--NOTIFICATION-COLOR: #7cf916;
	--offgreen: #bacfc0;
	--darkerofseconadary: #2195d8;
	--BOX-SHADOW: #af9898;
	--BOX-SHADOW-LIGHTER: #4e4c25;
	--ALERT-PRIMARY-COLOR: #2563eb;
	--ALERT-SUCCESS-COLOR: #0de01f;
	--ALERT-ERROR-COLOR: #e72222;
	--ALERT-WARNING-COLOR: #f8cb03;
	--COLOR-WHITE: #ffffff;
	--LINK: #3c83f6;
	--LINK-HOVER: #2563eb;
	--COLOR-BLACK: #0e0d0d;
	--ONLINE-BADGE: #1c852f;
	--DND-BADGE: #ff0000;
	--OFFLINE-BADGE: #707070;
	--BACKGROUND-BODY-COLOR: #333d3f;
	--BACKGROUND-BODY-COLOR-DARK: #0f1b1d;
	--secondary-txt: #808080;
	font-size: 62.5%;
}
[data-theme="light"] {
	--BACKGROUND-BODY-COLOR: #97e1f3;
	/* --secondary-color: #818cab; */
	/* --font-color: #e1e1ff; */
	--COLOR-WHITE: #161625;
	/* --COLOR-BLACK: #ffffff */
	/* --heading-color: #818cab; */
	--BACKGROUND-BODY-COLOR-DARK: #ffffff;
}
body {
	font-family: system-ui;
	font-size: 1.6rem;
	background-color: VAR(--BACKGROUND-BODY-COLOR);
	color: var(--COLOR-WHITE);
}
.component-display-container.nav-bar {
	background-color: var(--BACKGROUND-BODY-COLOR);
	position: sticky;
	top: 0;
	z-index: 2;
}
#root {
	position: relative;
}
.component-display-container {
	padding: 1.5rem;
	border-radius: 0%;
	border: 0;
	max-width: none;
	margin-top: 0;
	box-shadow: 5px 5px 1.5rem 2px var(--BOX-SHADOW);
}
.badge {
	border-radius: 50%;
	background-color: var(--NOTIFICATION-COLOR);
	color: var(--COLOR-BLACK);
	position: absolute;
	padding-bottom: 10px;
	padding-top: 0%;
}
.card-container {
	max-width: 18rem;
}
.card-container:hover {
	transform: scale(1.05) rotate(2deg);
}
.card-shadow:hover {
	transform: scale(1.02);
}

.input {
	padding: 0 1rem;
	border-radius: 2px 0 0 2px;
	border: 0;
	outline: 0 none;
	font-size: 1.5rem;
	height: 4.25rem;
	width: 100%;
}
.search-bar {
	display: flex;
	position: static;
	flex-flow: row nowrap;
}
.overlay-text {
	position: absolute;
	width: 100%;
	top: 15rem;
	left: 0;
	background-color: var(--COLOR-SOCIAL-ICON);
	color: var(--COLOR-BLACK);
	padding: 1rem 1rem 1rem 1rem;
	border-radius: 4px;
	text-align: center;
}
.card-change {
	margin: auto;
	display: inline;
	outline: 0;
	border-radius: 5px;
}
.rt {
	top: 120%;
	right: 0;
	color: var(--off-green);
	vertical-align: middle;
}
.lt {
	top: 120%;
	left: 0;
	color: var(--off-green);
	vertical-align: middle;
}
.card-change:hover {
	transform: scale(1.5);
}
.button {
	color: var(--COLOR-BLACK);
	width: 16rem;
}
.vertical-cards {
	border-collapse: separate;
	border-spacing: 0 15px;
}
.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin: 10px auto;
	background-color: var(--secondary-text);
	color: var(--secondary-text);
	position: absolute;
	bottom: -10rem;
}
.footer-logo {
	height: 8rem;
	width: 8rem;
}
.footer-nav {
	display: flex;
	font-size: large;
	gap: 2rem;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.link {
	color: var(--COLOR-WHITE);
}
.flex-items {
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 1.5rem;
}
.parent-positioning img {
	height: 20rem;
	width: auto;
}
.card-margin {
	margin: 8px 0 0 8px;
}
.home {
	flex-wrap: nowrap;
	overflow-x: auto;
	justify-content: flex-start;
}
.grid-items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	row-gap: 10px;
	margin-top: 10px;
}
.icon-overlay {
	background-color: white;
}
.icon-overlay:hover {
	color: var(--ALERT-ERROR-COLOR);
	font-weight: 900;
}
.prod {
	min-width: 18rem;
	width: 100%;
}
.prod .inside-container {
	width: 17.6rem;
}
